.container {
  width: 340px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid #232431;
}

.top {
  display: flex;
  height: 47px;
  align-items: center;
}

.body {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.bottom {
  padding: 0 1rem 1rem 1rem;
}

.patron > img {
  height: 31px;
  border-radius: 1.5rem;
  cursor: pointer;
}

.inputContainer {
  padding-bottom: 1rem;
}

.input {
  width: 100%;
  resize: none;
  font-size: 100%;
  border-radius: 3px;
  background-color: #313138;
  border: 2px solid #313138;
  padding: 1rem;
  color: white;
  caret-color: dodgerblue;
  transition: border-color 100ms linear, background-color 100ms linear;
}

.input:focus{
  background-color: black;
  border: 2px solid dodgerblue;
}

.messageContainer {
  padding: 0.5rem calc(2rem + 2px);
  user-select: text;
}

.messageName {
  font-weight: bold;
  color: dodgerblue;
}
