* {
  box-sizing: border-box;
}

body {
  font: caption;
  color: white;
  user-select: none;
  margin: 0; /* why does body have 8px margin? */
}

h3 {
  text-transform: uppercase;
  color: #cecece;
}

textarea, button {
  outline: none;
}

button {
  border: none;
  background: none;
}

.icon-button {
  margin: 0.5rem;
  padding: 6px;
  height: 31px;
  width: 31px;
  border-radius: 3px;
}

.icon-button:hover:not([disabled]) {
  background-color: #313138;
}

.icon-button:disabled {
  opacity: 0.5;
}